
*.pdf

*.txt

*.idb

*.bin

*.k

*.ipch

*.obj

*.ilk

*.sarif

*.tlog

*.db

*.pdb

*.log

*.exe

*.sln

*.xml

*.iobj

*.ipdb

Oppor point for A and A2 luch.lay

Sphere_setka/Sphere/.vs/Mesh_construct_1/v16/.suo

*.vcxproj

*.filters

*.user

TITAN/.vs/TITAN/v16/.suo

*.dat

2D_Setka_construct/2D_setka_construct/.vs/2D_setka_construct/v16/.suo

*.enc

*.md

*.json

TITAN/TITAN/.vs/TITAN/v17/.suo

*.vsidx
