
*.pdf

*.txt

*.idb

*.bin

*.k

*.ipch

*.obj

*.ilk

*.sarif

*.tlog

*.db

*.pdb

*.log

*.exe

*.sln

*.xml

*.iobj

*.ipdb

Oppor point for A and A2 luch.lay

Sphere_setka/Sphere/.vs/Mesh_construct_1/v16/.suo

*.vcxproj

*.filters

*.user

TITAN/.vs/TITAN/v16/.suo

*.dat

2D_Setka_construct/2D_setka_construct/.vs/2D_setka_construct/v16/.suo

*.enc

*.md

*.json

TITAN/TITAN/.vs/TITAN/v17/.suo

*.vsidx

*.db-wal

*.db-shm

*.opendb

*.recipe

TITAN/Surface_Print_TS

*.nb


TITAN/TITAN/x64/Debug/gmp-10.dll

TITAN/TITAN/x64/Release/gmp-10.dll

TITAN/x64/Debug/gmp-10.dll

TITAN/x64/Debug/TITAN.vcxproj.CopyComplete

TITAN/all_surface.lay

TITAN/Surface_all.lay

*.lay

MK_source/MK_source/.vs/MK_source/v16/.suo
