
*.pdf

*.txt

*.idb

*.bin

*.k

*.ipch

*.obj

*.ilk

*.sarif

*.tlog

*.db

*.pdb

*.log

*.exe

*.sln

*.xml

*.iobj

*.ipdb

Oppor point for A and A2 luch.lay

Sphere_setka/Sphere/.vs/Mesh_construct_1/v16/.suo

*.vcxproj

*.filters

*.user

TITAN/.vs/TITAN/v16/.suo

*.dat

2D_Setka_construct/2D_setka_construct/.vs/2D_setka_construct/v16/.suo

*.enc

*.md

*.json

TITAN/TITAN/.vs/TITAN/v17/.suo

*.vsidx

*.db-wal

*.db-shm

*.opendb

*.recipe

TITAN/Surface_Print_TS


TITAN/TITAN/x64/Debug/gmp-10.dll

TITAN/TITAN/x64/Release/gmp-10.dll

TITAN/x64/Debug/gmp-10.dll

TITAN/x64/Debug/TITAN.vcxproj.CopyComplete

TITAN/all_surface.lay

TITAN/Surface_all.lay

*.lay

MK_source/MK_source/.vs/MK_source/v16/.suo

TITAN/.vs/TITAN/v17/.suo

*.dll

Sphere_setka/Sphere_setka/.vs/Sphere_setka/v17/.suo

TITAN/TITAN/.vs/TITAN/copilot-chat/d12476bc/sessions/34a9a822-f8da-40e6-9e90-dfaafca142db

TITAN/TITAN/.vs/CopilotSnapshots/22A8A934DAF8E6409E90DFAAFCA142DB/6EB7816084E6EF42826BA1932C248A29/

*.mpack

TITAN/TITAN/.vs/CopilotSnapshots/22A8A934DAF8E6409E90DFAAFCA142DB/7F925CD5055FC246A4D008AAB9B9B88F/

TITAN/TITAN/.vs/CopilotSnapshots/22A8A934DAF8E6409E90DFAAFCA142DB/EE0D768CB56A334F86C93708FF65DB14/

TITAN/TITAN/.vs/CopilotSnapshots/22A8A934DAF8E6409E90DFAAFCA142DB/0263AD64854E8B4DB68FCFB71BA78139/

TITAN/TITAN/.vs/CopilotSnapshots/22A8A934DAF8E6409E90DFAAFCA142DB/643BAE9734FC5643A2FF73964F4F3721/
